src/ru/innopolis/xsd/users.xsd

<?xml version="1.0"?>
<br:schema xmlns:br="http://www.w3.org/2001/XMLSchema">
	<br:element name="users">
		<br:complexType>
			<br:sequence>
				<br:element name="user">
					<br:complexType>
						<br:sequence>
							<br:element name="id" type="br:integer"/>
							<br:element name="name" type="br:string"/>
							<br:element name="last_name" type="br:string"/>
							<br:element name="email" type="br:string"/>
							<br:element name="password" type="br:string"/>
							<br:element name="group_id" type="br:integer"/>
						</br:sequence>
					</br:complexType>
				</br:element>
			</br:sequence>
		</br:complexType>
	</br:element>		
</br:schema>